.flex{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 40px;
    font-size: 24px;
    
}

.card{    
    width: 100%;
    height: 350px;
    cursor: pointer;
    
}

.button{
    font-size: 24px;
    font-weight:700;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: Overlock;
    background-color:#0075ac;

    border: none;
    border-radius: 10px;
    padding: 16px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 52px;
    margin-left: 42%;
    margin-top: 36px;

}

.button:hover{
    background-color: rgb(152, 191, 236);
    color: #ffffff;
}